body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#to-do-list {
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

#new-task {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-task {
    width: 25%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task:hover {
    background-color: #0056b3;
}

#tasks-list {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

#tasks-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tasks-list li span {
    margin-right: auto;
}

#tasks-list li span.done {
    text-decoration: line-through;
}

button {
    border: none;
    background-color: #ff4757;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6b81;
}
